.cabeçalho__menu-hanburguer{
 
  width: 24px;  
  height: 24px;
  background-image: url(../img/Menu.svg);
  display: inline-block;
}

.cabeçalho{
background-color: var(--branco);
display: flex;
justify-content: space-between;
align-items: center;
}     
.container{
display: flex;
}

.container_imagem{
  padding: iem;
}